
<h1>
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Your wall.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
    <span class="wrap"></span>
  </a>
</h1>

<body>
  <div class='row center'>
    <div class="col-xs-21 col-md-15">
      <div class='avatar'>
    <%= image_tag(@user.avatar) %>
    <h2><%= @user.name %></h2>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row center">
   <div class="col-xs-21 col-md-15">
     <div class="thumbnail">
       <%=(image_tag(@post.image)) %>
       <div class="caption">
        <h2><%=simple_format(@post.message) %></h2>
      </div>

     </div>
    </div>
  </div>
</body>


<div class="form-group">
<div class="row center comments">
 <div class="col-xs-15 col-md-11">
   <div class="form-group">
  <h1><%= @post.comments.count %> Comments</h1>
<div class="comment=form comment-forms" rows="5" id="comment"><%= render @post.comments %></div>
</div>
    <hr />
    <h3 class="col-xs-21 col-md-15">Leave a Comment</h3>
    <%= render 'comments/form' %>
  </div>
</div>
</div>
